/* details element polyfill */

.fujion-no-details details:not([open]) > :not(summary) {
  display: none;
}

.fujion-no-details details > summary:before {
  content: "\25b6";
  display: inline-block;
  font-size: .8em;
  width: 1.5em;
}

.fujion-no-details details[open] > summary:before {
  content: "\25bc";
}

.fujion-no-details details > summary {
  display: block;
  cursor: default;
}

